.advantage-header {
  padding: 0 20px;
  margin-bottom: 28px;
}

.advantage-list-title {
  line-height: 26px;
  margin-bottom: 30px;
  padding: 0 20px;
}

.advantage-city-image {
  height: 260px;
  background-image: url(/images/photo-city.jpg);
  background-position: center top;
  background-color: #7fa43a;
}
.advantage-bridge-image {
  height: 260px;
  background-image: url(/images/photo-bridge.jpg);
  background-position: center top;
  background-color: #e6b098;
}

.advantage-item {
  position: relative;
}

.advantage-card {
  padding: 36px 20px;
}

.advantage-item.primary .advantage-card {
  background-color: #81b3d2;
  color: #fff;
}

.advantage-item.secondary .advantage-card {
  background-color: #eee;
  position: relative;
}

.advantage-item.primary .advantage-title {
  margin-bottom: 12px;
}

.advantage-item.secondary .advantage-title {
  margin-bottom: 14px;
}

.advantage-item.primary .advantage-number {
  margin-bottom: 16px;
}

.advantage-item.secondary .advantage-number {
  margin-bottom: 14px;
}

.advantage-item.secondary:not(:last-child)::after {
  content: "";
  background-color: #d6d6d6;
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  height: 1px;
}
