.banner {
  /* margin-bottom: 32px; */
  background-image: url(/images/back-desktop.jpg);
  background-color: #e0edf6;
  position: relative;
}

.banner.index {
  height: 389px;
  background-position: center top;
  position: relative;
}

.banner.form {
  height: 157px;
  background-position: center center;
}

.banner-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.banner-text.index {
  top: 10%;
}

.banner-text.form {
  fill: #fff;
  top: 51px;
}

.banner-intro-triangle {
  position: absolute;
  bottom: 0;
  fill: #fff;
  transform: translateX(-50%);
}
