.name-field-label {
  display: flex;
  align-items: center;
  gap: 12px;
}

.name-field-label-text {
  max-width: 40%;
}

.name-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
