.body {
  margin: 0 auto;
  color: #333333;

  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;

  max-width: 1200px;
}
